.artist-avatar{
    width: 100%;
    height: 213px;
    background-size: cover;
    background-position: center center;
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week8-202207/artist01.jpg?raw=true);

    @media(min-width: 992px){
        height: 100%;
    }
}

.artist-nav{
    li a{
        &:hover{
            background-color: #E6553B;
            color: white;
        }
    }
}

.nav-link{
    color: #808080;
    span{
        display: none;
        @media(min-width: 992px){
            display: inline-block;
        }
    
    }
}

.nav-tabs.artist-artworks{
    .nav-link{
        &:hover{
            color: #E6553B;
        }
    }
    .nav-link.active{
        color: black;
    }
}