.nav-column{
    border: none;
    padding: 16px 0;

    @media(min-width: 768px){
    border-right: 1px solid black;
    padding: 40px 0;
    height: 120px;
    }
}

.collapse-border{
    
    border-top: 1px solid black;

    @media(min-width: 768px){
        border-top:  none;
    }
}

.collapse-btn{
    background-color: #E6553B;
    border: 1px solid #000;
    padding: 12px 0;
}

.recommend-item{
    border-bottom: 2px solid black;

    @media(min-width: 992px){
        border: 1px solid #000;
    }

    &-sm{
        @media(min-width: 992px){
            height: 340px;
            display: flex;
            flex-direction: row-reverse;
        }
    }
}

.recommend-title{
    display: none;

    @media(min-width: 992px){
        display: flex;
        writing-mode: vertical-lr;
    }
}

.recommend-img{
    
    &-1{
        background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week8-202207/art01.jpg);
        width: 100%;
        height: 372px;
        background-size: cover;
        background-position: center center;

        @media(min-width: 992px){
        width: 100%;
        height: 500px;
        }
    }
    &-2{
        background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week8-202207/art02.jpg);
        width: 100%;
        height: 372px;
        background-size: cover;
        background-position: center center;

        @media(min-width: 992px){
        width: 50%;
        height: 340px;
        }
    }
    &-3{
        background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week8-202207/art03.jpg);
        width: 100%;
        height: 372px;
        background-size: cover;
        background-position: center center;

        @media(min-width: 992px){
        width: 50%;
        height: 340px;
        }
    }
}

.ranking-item{
    height: 91px;
}

.ranking-img{
    width: 87px;
    height: 100%;
    background-size: cover;
    background-position: center center;

    &-1{
        background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week8-202207/art04.jpg);
    }
    &-2{
        background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week8-202207/art05.jpg);
    }
    &-3{
        background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week8-202207/art06.jpg);
    }
    &-4{
        background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week8-202207/art07.jpg);
    }
    &-5{
        background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week8-202207/art08.jpg);
    }
    &-6{
        background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week8-202207/art09.jpg);
    }
}


.ranking-img-lg{
    height: 374px;
    background-size: cover;
    background-position: top center;
}

.ranking-tag{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 48px; 
    height: 48px;
    background-color: #fff;
    vertical-align: middle;
    margin: -1px;
}


.artist-tag{
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 1;

    @media(min-width: 992px){
        top: 24px;
        left: 24px;
    }
}

.artist-img{
    width: 100%;
    height: 232px;
    background-size: cover;
    background-position: center center;

    &-1{
        background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week8-202207/artist01.jpg?raw=true);
    }
    &-2{
        background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week8-202207/artist02.jpg?raw=true);
    }
    &-3{
        background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week8-202207/artist03.jpg?raw=true);
    }
    &-4{
        background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week8-202207/artist04.jpg?raw=true);
    }
    &-5{
        background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week8-202207/artist05.jpg?raw=true);
    }
    &-6{
        background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week8-202207/artist06.jpg?raw=true);
    }
}

.artist-btn{
    right: 8px;
    bottom: 8px;
    z-index: 2;

    @media(min-width: 992px){
        right: 24px;
        bottom: 24px;
    }
}
.artist-content{
    background-color: white;
    opacity: 85%;
    padding: 24px;
    width: 100%;
    left: 0;
    bottom: -120px;


    @media(min-width: 992px){
        width: 50%;
        left: 24px;
        bottom: 24px;
    }

}

.swiper {
    width: 100%;
    height: 100%;
  }

  
  .swiper-slide {
    height: 344px !important;
    align-items: start !important;

    @media(min-width: 992px){
        align-items: center !important;

        height: 439px !important;
        width: 23.6% !important;
        filter: grayscale(.9);

        h3, p, a{
            display: none;
        }

        &-active{
            width: 49% !important;
            filter: grayscale(0);
    
            div{
                height: 439px !important;
    
            }
            h3, p, a{
                display: block;
            }
        }
    }
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;

  }


  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
.swiper-pagination{
    position: relative !important;

  .swiper-pagination-bullet {
    background-color: #000 !important;
    border-radius: 0% !important;
    opacity: 100% !important;
    &-active {
        background-color: #E6553B !important;
        width: 16px !important;
    }
  }
}

.newPieces-content{

    @media(min-width: 992px){
        border-bottom: 1px solid black;
    }
}