<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="./assets/style/all.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Squada+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

<body>
  <div class="bg-primary">
  <div class="container">

    <!-- 獨立搜尋列 -->
    <div class="bg-primary w-100 py-5 searchBar">
    <form class="d-flex align-items-center">
      <a href="#" class="btn me-5 searchBar-btn"><i class="fa-solid fa-angle-left"></i></a>
      <input class="form-control border-0" type="search" placeholder="搜尋作品名稱、藝術家名稱" aria-label="">
      <a href="#" class="btn"><i class="fa-solid fa-magnifying-glass"></i></a>
    </form>
    </div>
    <!-- 獨立搜尋列END -->

    <!-- 導覽列 -->
    <nav class="navbar navbar-expand-lg navbar-light py-5">
      <div class="col-10 d-flex justify-content-between align-items-center">
      <!-- logo -->
        <h1 class="logo"><a class="navbar-brand" href="./index.html">ART NFT</a></h1>

      <!-- 搜尋欄 -->
        <a href="#" class="btn searchBar-btn"><i class="fa-solid fa-magnifying-glass"></i></a>
      </div>

      <!-- 下拉選單 -->
      <button class="navbar-toggler hamberger border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon text-black"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item py-8 border-top border-dark">
              <a class="nav-link active fs-5 fw-bold text-center" aria-current="page" href="#">探索</a>
            </li>
            <li class="nav-item py-8 border-top border-dark">
              <a class="nav-link active fs-5 fw-bold text-center" aria-current="page" href="#">市值</a>
            </li>
            <li class="nav-item py-3 border border-dark btn-secondary">
              <a class="nav-link active fs-5 text-center text-white" aria-current="page" href="#">連結錢包</a>
            </li>

          </ul>
        </div>
      </nav>
    <!-- 導覽列END -->

  </div>

    <%- contents %>

    <footer class="footer py-5 text-center">
      © ART NFT. All Rights Reserved
    </footer>

    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/6b74f216f9.js" crossorigin="anonymous"></script>

  </div>
</body>

</html>